adlfdevdubbyproject/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adlfdevdubbyproject"
		},
		"LS_LKUP_MAX_VALUE_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_LKUP_MAX_VALUE'"
		},
		"LS_lkp_max_value_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_lkp_max_value'"
		},
		"LS_load_data_to_adls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_load_data_to_adls'"
		},
		"LS_parquet_sqlserver_to_adls_dw_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_parquet_sqlserver_to_adls_dw'"
		},
		"LS_sqlserver_adls_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_sqlserver_adls'"
		},
		"LS_sqlserver_adls__accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_sqlserver_adls_'"
		},
		"LS_sqlserver_adls_childpipeline_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_sqlserver_adls_childpipeline'"
		},
		"LS_sqlserver_adls_dw_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_sqlserver_adls_dw'"
		},
		"LS_sqlserver_child_if_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_sqlserver_child_if'"
		},
		"LS_sqlserver_max_value_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_sqlserver_max_value'"
		},
		"LS_sqlserver_to_adls_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_sqlserver_to_adls'"
		},
		"LS_sqlserver_to_adls_dwh_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_sqlserver_to_adls_dwh'"
		},
		"LS_sqlserver_to_adls_sp_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_sqlserver_to_adls_sp'"
		},
		"LS_sqlserver_watermark_lkup_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_sqlserver_watermark_lkup'"
		},
		"LS_sqlsever_DataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_sqlsever_DataLakeStorage1'"
		},
		"LS_stopredprocedure_dw_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_stopredprocedure_dw'"
		},
		"LS_LKUP_MAX_VALUE_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "Agni\\SQLEXPRESS"
		},
		"LS_LKUP_MAX_VALUE_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "RetailDW_Dev"
		},
		"LS_LKUP_MAX_VALUE_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Agni"
		},
		"LS_lkp_max_value_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "Agni\\SQLEXPRESS"
		},
		"LS_lkp_max_value_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "RetailDW_Dev"
		},
		"LS_lkp_max_value_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Agni"
		},
		"LS_load_data_to_adls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevdubbyproject.dfs.core.windows.net/"
		},
		"LS_parquet_sqlserver_to_adls_dw_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevdubbyproject.dfs.core.windows.net/"
		},
		"LS_sqlserver_adls_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "Agni\\SQLEXPRESS"
		},
		"LS_sqlserver_adls_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "RetailDW_Dev"
		},
		"LS_sqlserver_adls_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Agni"
		},
		"LS_sqlserver_adls__properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevdubbyproject.dfs.core.windows.net/"
		},
		"LS_sqlserver_adls_childpipeline_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "Agni\\SQLEXPRESS"
		},
		"LS_sqlserver_adls_childpipeline_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "RetailDW_Dev"
		},
		"LS_sqlserver_adls_childpipeline_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Agni"
		},
		"LS_sqlserver_adls_dw_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevdubbyproject.dfs.core.windows.net/"
		},
		"LS_sqlserver_child_if_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevdubbyproject.dfs.core.windows.net/"
		},
		"LS_sqlserver_max_value_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "Agni\\SQLEXPRESS"
		},
		"LS_sqlserver_max_value_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "RetailDW_Dev"
		},
		"LS_sqlserver_max_value_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Agni"
		},
		"LS_sqlserver_to_adls_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "Agni\\SQLEXPRESS"
		},
		"LS_sqlserver_to_adls_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "RetailDW_Dev"
		},
		"LS_sqlserver_to_adls_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Agni"
		},
		"LS_sqlserver_to_adls_dwh_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "Agni\\SQLEXPRESS"
		},
		"LS_sqlserver_to_adls_dwh_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "RetailDW_Dev"
		},
		"LS_sqlserver_to_adls_dwh_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Agni"
		},
		"LS_sqlserver_to_adls_sp_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "Agni\\SQLEXPRESS"
		},
		"LS_sqlserver_to_adls_sp_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "RetailDW_Dev"
		},
		"LS_sqlserver_to_adls_sp_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Agni"
		},
		"LS_sqlserver_watermark_lkup_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "Agni\\SQLEXPRESS"
		},
		"LS_sqlserver_watermark_lkup_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "RetailDW_Dev"
		},
		"LS_sqlserver_watermark_lkup_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Agni"
		},
		"LS_sqlsever_DataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevdubbyproject.dfs.core.windows.net/"
		},
		"LS_stopredprocedure_dw_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "Agni\\SQLEXPRESS"
		},
		"LS_stopredprocedure_dw_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "RetailDW_Dev"
		},
		"LS_stopredprocedure_dw_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Agni"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/dsnewsalesblobadls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_new_blo_sales_filter_adls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "csvfile"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SIC_Code",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_LKUP_MAX_VALUE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_LKUP_MAX_VALUE_properties_typeProperties_server')]",
					"database": "[parameters('LS_LKUP_MAX_VALUE_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_LKUP_MAX_VALUE_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_LKUP_MAX_VALUE_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_lkp_max_value')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "LS_lkp_max_value",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_lkp_max_value_properties_typeProperties_server')]",
					"database": "[parameters('LS_lkp_max_value_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_lkp_max_value_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_lkp_max_value_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_load_data_to_adls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "load the tables in to adls gen2",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_load_data_to_adls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_load_data_to_adls_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_parquet_sqlserver_to_adls_dw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "final copy to adls gen2",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_parquet_sqlserver_to_adls_dw_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_parquet_sqlserver_to_adls_dw_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_sqlserver_adls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "sql server to adls ",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_sqlserver_adls_properties_typeProperties_server')]",
					"database": "[parameters('LS_sqlserver_adls_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_sqlserver_adls_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_sqlserver_adls_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_sqlserver_adls_')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_sqlserver_adls__properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_sqlserver_adls__accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_sqlserver_adls_childpipeline')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_sqlserver_adls_childpipeline_properties_typeProperties_server')]",
					"database": "[parameters('LS_sqlserver_adls_childpipeline_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_sqlserver_adls_childpipeline_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_sqlserver_adls_childpipeline_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_sqlserver_adls_dw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_sqlserver_adls_dw_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_sqlserver_adls_dw_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_sqlserver_child_if')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "inside the if condition",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_sqlserver_child_if_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_sqlserver_child_if_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_sqlserver_max_value')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_sqlserver_max_value_properties_typeProperties_server')]",
					"database": "[parameters('LS_sqlserver_max_value_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_sqlserver_max_value_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_sqlserver_max_value_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_sqlserver_to_adls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "moving data from sql to adls",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_sqlserver_to_adls_properties_typeProperties_server')]",
					"database": "[parameters('LS_sqlserver_to_adls_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_sqlserver_to_adls_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_sqlserver_to_adls_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_sqlserver_to_adls_dwh')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "sql server to dwh ",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_sqlserver_to_adls_dwh_properties_typeProperties_server')]",
					"database": "[parameters('LS_sqlserver_to_adls_dwh_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_sqlserver_to_adls_dwh_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_sqlserver_to_adls_dwh_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_sqlserver_to_adls_sp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "sql server to adls stored procedure",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_sqlserver_to_adls_sp_properties_typeProperties_server')]",
					"database": "[parameters('LS_sqlserver_to_adls_sp_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_sqlserver_to_adls_sp_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_sqlserver_to_adls_sp_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_sqlserver_watermark_lkup')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "select the tables and data from the source ",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_sqlserver_watermark_lkup_properties_typeProperties_server')]",
					"database": "[parameters('LS_sqlserver_watermark_lkup_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_sqlserver_watermark_lkup_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_sqlserver_watermark_lkup_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_sqlsever_DataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_sqlsever_DataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_sqlsever_DataLakeStorage1_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_stopredprocedure_dw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_stopredprocedure_dw_properties_typeProperties_server')]",
					"database": "[parameters('LS_stopredprocedure_dw_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_stopredprocedure_dw_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_stopredprocedure_dw_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_gm_csv_blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "gm_csv_blob",
						"description": "to check the meta data is available in folder or not",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText3",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"itemType"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-08T10:06:54Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_new_blo_sales_filter_adls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "gm_new_blo_sales_filter_adls",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dsnewsalesblobadls",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "FL_new_blo_sales_filter_adls",
						"description": "filter the sales file from the folder",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "gm_new_blo_sales_filter_adls",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('gm_new_blo_sales_filter_adls').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(item().name,'Sales')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FL_new_blo_sales_filter_adls",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('FL_new_blo_sales_filter_adls').output.value[0].name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dsnewsalesblobadls",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-08T10:06:54Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsnewsalesblobadls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_sqlserver_adls_sp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "child pipeline stored procedure",
						"description": "child pipeline stored procedure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateWatermark]"
						},
						"linkedServiceName": {
							"referenceName": "LS_sqlserver_to_adls_sp",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"TableSchema": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					},
					"WatermarkColumn": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_sqlserver_to_adls_sp')]"
			]
		}
	]
}